/* Importer Bootstrap en premier */
/* Variables personnalisées */
$primary: rgb(45, 85, 111);
$primary-hover: rgb(66, 113, 148);

@import "node_modules/bootstrap/scss/bootstrap";


/* Styles personnalisés */
.homepageSubtitle {
  color: $primary;
}

.btn-primary {
  background-color: $primary-hover;
  border-color: $primary-hover;

  &:hover {
    background-color: darken($primary-hover, 10%);
    border-color: darken($primary-hover, 10%);
  }
}

.navbar-brand {
  font-weight: 900;
}

@media (min-width: 1024px) {
  /* Augmente la taille de la police pour les grands écrans */
  .homepageH1 {
      font-size: 3.2rem;
      line-height: 1;
  }
  /* Réduit la taille de la sous-titre pour les grands écrans */
  .homepageSubtitle {
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 1.5rem !important;
      margin-right: 5rem;

  }
}

/* Centrer le logo sur les petits écrans */
.navbar-brand.mx-auto {
  display: block; /* bloc pour manipuler marges */
  margin: 0 auto; /* Centre l'élément horizontalement avec marge auto */
}

/* tablettes paysage ou formats plus grands */
@media (min-width: 992px) {
  .navbar-brand.d-lg-none {
    display: none; /* Cache le logo centré pour les petits écrans */
  }

  .navbar-brand.mx-auto {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-nav.ms-auto {
    margin-left: auto; /* Aligne les éléments du menu de navigation à droite */
  }
}

/* tablettes portrait ou téléphones */
@media (max-width: 991.98px) {
  /* Changer min-width à max-width pour les petits écrans */
  .navbar-nav {
    text-align: center; /* Centre le texte des éléments du menu de navigation */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-nav .nav-item {
    margin: 10px 0; /* Ajoute une marge verticale de 10px autour des éléments du menu de navigation */
  }
  .navbar-toggler {
    margin: 10px auto 0; /* Centre le bouton du menu avec une marge en haut */
  }
  .navbar-collapse {
    text-align: center;
  }
  .d-lg-none {
    margin: 10px auto 0; /* Centre */
  }
  .carousel-item .card {
    height: 100%;
  }
  .carousel-item .card-body {
    display: flex;
    flex-direction: column;
  }
  .carousel-item .card-text {
    flex-grow: 1;
  }

  /* Positionnement personnalisé des indicateurs du carousel */
  .carousel-indicators.custom-indicators {
    bottom: auto; /* Annule le positionnement par défaut en bas */
    top: 170px; /* Positionne les indicateurs à 200px du haut (ajuster selon la hauteur de l'image) */
    transform: translateY(
      -100%
    ); /* Déplace les indicateurs vers le haut de leur propre hauteur */
    margin-bottom: 0; /* Supprime la marge inférieure par défaut */
    margin-top: 10px; /* Ajoute un petit espace au-dessus des indicateurs */
  }

  /* Style des boutons indicateurs individuels */
  .carousel-indicators.custom-indicators [data-bs-target] {
    width: 10px; /* Largeur de chaque indicateur */
    height: 10px; /* Hauteur de chaque indicateur */
    border-radius: 50%; /* Rend les indicateurs circulaires */
    background-color: rgba(
      255,
      255,
      255,
      0.5
    ); /* Couleur de fond semi-transparente */
    border: none; /* Supprime la bordure par défaut */
    margin: 0 5px; /* Ajoute un espace horizontal entre les indicateurs */
  }

  /* Style de l'indicateur actif */
  .carousel-indicators.custom-indicators .active {
    background-color: white; /* Couleur de fond pleine pour l'indicateur actif */
  }

  /* Assure une hauteur minimale pour les cartes du carousel */
  .carousel-item .card {
    min-height: 400px; /* Définit une hauteur minimale pour les cartes (ajuster selon vos besoins) */
  }
}
