{% extends 'base.html.twig' %}

{% block title %}Soutenez l'association{% endblock %}

{% block body %}
    <nav>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        {#<li><a href="{{ path('about') }}">En savoir plus</a></li>
        <li><a href="{{ path('events') }}">Événements</a> </li>
        <li><a href="{{ path('contact') }}">Contact</a> </li> #}
    </nav>
{% endblock %}
