{% extends 'base.html.twig' %} {% block title %}Soutenez l'association Vestiaire
Solidaire{% endblock %} {% block body %}
<body>
  <h1 class="titrePage">Des vêtements pour un nouveau départ !</h1>
</body>
{% endblock %}
